body {
  background-color: #ffffff;
}
nav {
  position: fixed;
  top: 0;
  height: 94px;
  width: 100%;
  background-color: #181818;
  background-image: url("../img/logo.webp");
  background-repeat: no-repeat;
  background-position: 75px 18px;
  padding-left: 167px;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 10;
}
.nav-left {
  float: left;
}
.nav-left .car,
.nav-left .service,
.nav-left .match {
  position: relative;
  color: white;
  float: left;
  font-size: 18px;
  margin-top: 35px;
  margin-left: 33px;
  cursor: pointer;
  height: 18px;
  z-index: 2;
}
.nav-left .car-bottom {
  position: absolute;
  background-color: white;
  height: 1px;
  width: 0;
  left: 0;
  top: 25px;
}
.nav-left .car-menu {
  display: none;
  float: left;
  margin-left: 30px;
}
.nav-left .car-menu li {
  color: #ffffff;
  margin: 38px 0;
  font-size: 12px;
  opacity: 0.5;
  cursor: pointer;
}
.nav-left .service-menu {
  display: none;
  float: left;
  margin-left: 100px;
}
.nav-left .service-menu li {
  color: #ffffff;
  margin: 38px 0;
  font-size: 12px;
  opacity: 0.5;
  cursor: pointer;
}
.nav-left .service-menu li:hover {
  opacity: 1;
}
.nav-left .car-menu-first {
  position: absolute;
  display: none;
  left: 370px;
  top: 57px;
  z-index: 1;
}
.nav-left .car-menu-first li {
  color: #ffffff;
  margin: 36px 0;
  font-size: 12px;
  cursor: pointer;
}
.nav-left .car-menu-second {
  position: absolute;
  display: none;
  left: 370px;
  top: 57px;
  z-index: 1;
}
.nav-left .car-menu-second li {
  color: #ffffff;
  margin: 36px 0;
  font-size: 12px;
  cursor: pointer;
}
.nav-left .car-menu-third {
  position: absolute;
  display: none;
  left: 370px;
  top: 57px;
  z-index: 1;
}
.nav-left .car-menu-third li {
  color: #ffffff;
  margin: 36px 0;
  font-size: 12px;
  cursor: pointer;
}
.nav-left .car-menu-fourth {
  position: absolute;
  display: none;
  left: 370px;
  top: 57px;
  z-index: 1;
}
.nav-left .car-menu-fourth li {
  color: #ffffff;
  margin: 36px 0;
  font-size: 12px;
  cursor: pointer;
}
.nav-third {
  display: none;
  position: absolute;
  width: 1365px;
  height: 778px;
  left: 267px;
}
.nav-third .nav-third-car img {
  width: 1350px;
}
.nav-third .nav-third-car .nav-third-one-top {
  position: absolute;
  right: 0;
  top: 180px;
  width: 543px;
  height: 152px;
  border: 1px solid #585858;
  box-sizing: border-box;
}
.nav-third .nav-third-car .nav-third-one-top span {
  color: #fff;
  margin-left: 15px;
  font-size: 14px;
}
.nav-third .nav-third-car .nav-third-one-top p {
  float: left;
  font-size: 34px;
  color: #ffffff;
  margin: 0 15px;
}
.nav-third .nav-third-car .nav-third-one-top .hexagon {
  height: 50px;
}
.nav-third .nav-third-car .nav-third-one-top .hexagon .exagon {
  float: left;
  height: 50px;
  fill: transparent;
  stroke: #fff;
  margin-top: 50px;
  margin-left: 88px;
}
.nav-third .nav-third-car .nav-third-one-top:hover .exagon {
  fill: #fff;
}
.nav-third .nav-third-car .nav-third-one-top:hover .foreground {
  stroke: #111;
}
.nav-third .nav-third-car .nav-third-one-center {
  position: absolute;
  right: 0;
  top: 332px;
  width: 543px;
  height: 282px;
  border: 1px solid #585858;
  border-top: 0 ;
  box-sizing: border-box;
}
.nav-third .nav-third-car .nav-third-one-bottom-right {
  position: absolute;
  right: 0;
  top: 614px;
  width: 242px;
  height: 152px;
  border: 1px solid #585858;
  border-top: 0 ;
  box-sizing: border-box;
}
.nav-third .nav-third-car .nav-third-one-bottom-right span {
  display: inline-block;
  color: #fff;
  margin-left: 80px;
  font-size: 14px;
  margin-top: 50px;
}
.nav-third .nav-third-car .nav-third-one-bottom-right p {
  float: left;
  font-size: 34px;
  color: #ffffff;
  margin: 0;
  margin-left: 80px;
}
.nav-third .nav-third-car .nav-third-one-bottom-bottom {
  position: absolute;
  right: 242px;
  top: 614px;
  width: 301px;
  height: 152px;
  border: 1px solid #585858;
  border-top: 0 ;
  border-right: 0 ;
  box-sizing: border-box;
}
.nav-third .nav-third-car .nav-third-one-bottom-bottom span {
  display: inline-block;
  color: #fff;
  margin-left: 80px;
  font-size: 14px;
  margin-top: 50px;
}
.nav-third .nav-third-car .nav-third-one-bottom-bottom p {
  float: left;
  font-size: 34px;
  color: #ffffff;
  margin: 0;
  margin-left: 80px;
}
.nav-third .nav-third-car .nav-third-one-bottom-left-bottom {
  position: absolute;
  right: 543px;
  top: 613px;
  width: 406px;
  height: 153px;
  border: 1px solid #585858;
  border-right: 0 ;
  box-sizing: border-box;
}
.nav-third .nav-third-car .nav-third-one-bottom-left-bottom span {
  display: inline-block;
  color: #fff;
  margin-left: 80px;
  font-size: 14px;
  margin-top: 50px;
}
.nav-third .nav-third-car .nav-third-one-bottom-left-bottom p {
  float: left;
  font-size: 34px;
  color: #ffffff;
  margin: 0;
  margin-left: 80px;
}
.nav-third .nav-third-car .nav-third-one-bottom-left {
  position: absolute;
  right: 949px;
  top: 613px;
  width: 372px;
  height: 153px;
  border: 1px solid #585858;
  border-right: 0 ;
  box-sizing: border-box;
}
.nav-third .nav-third-car .nav-third-one-bottom-left span {
  color: #fff;
  margin-left: 15px;
  font-size: 14px;
}
.nav-third .nav-third-car .nav-third-one-bottom-left p {
  float: left;
  font-size: 34px;
  color: #ffffff;
  margin: 0 15px;
}
.nav-third .nav-third-car .nav-third-one-bottom-left .hexagon {
  height: 50px;
}
.nav-third .nav-third-car .nav-third-one-bottom-left .hexagon .exagon {
  float: left;
  height: 50px;
  fill: transparent;
  stroke: #fff;
  margin-top: 50px;
  margin-left: 88px;
}
.nav-third .nav-third-car .nav-third-one-bottom-left:hover .exagon {
  fill: #fff;
}
.nav-third .nav-third-car .nav-third-one-bottom-left:hover .foreground {
  stroke: #111;
}
.nav-right {
  float: right;
  padding-right: 35px;
}
.nav-right .nav-right-left {
  float: left;
  margin-right: 35px;
}
.nav-right .nav-right-left a {
  position: relative;
  color: white;
  line-height: 94px;
  margin-right: 35px;
  cursor: pointer;
}
.nav-right .nav-right-left a .car-bottom {
  position: absolute;
  background-color: white;
  height: 1px;
  width: 0;
  left: 0;
  top: 28px;
}
.nav-right .nav-right-right {
  float: right;
}
.nav-right .nav-right-right .setUp,
.nav-right .nav-right-right .chat,
.nav-right .nav-right-right .search,
.nav-right .nav-right-right .list {
  float: left;
  font-size: 30px;
  color: white;
  line-height: 94px;
  margin-right: 35px;
  cursor: pointer;
  opacity: 0.7;
}
.nav-right .nav-right-right ul:hover {
  opacity: 1;
}
.outline {
  margin-top: 94px;
  width: 100%;
  height: 815px;
  background-image: url("../img/SVJ/2.jpg");
  background-repeat: no-repeat;
  padding-left: 160px;
  padding-top: 60px;
}
.outline h6 {
  font-size: 12px;
  font-weight: normal;
  color: #Fff;
}
.outline h3 {
  font-size: 36px;
  color: #Fff;
  margin-top: 40px;
}
.outline h1 {
  font-size: 98px;
  color: #Fff;
  margin-top: 40px;
  line-height: 1.2;
  width: 800px;
}
.outline ul {
  float: left;
  margin-top: 120px;
}
.outline ul li {
  float: left;
  color: #fff;
  margin-right: 96px ;
  line-height: 0;
}
.outline ul li p {
  font-size: 40px;
  font-weight: normal;
}
.outline ul li .exagon {
  float: left;
  height: 65px;
  fill: transparent;
  stroke: #fff;
  margin-right: 20px;
}
.outline li:nth-child(4) {
  margin-left: 200px;
}
.outline li:nth-child(4) p {
  width: 590px;
}
.outline .exagon:hover {
  fill: #fff;
}
.outline .exagon:hover .foreground {
  stroke: #111;
}
main {
  margin-top: 150px;
  overflow: hidden;
}
main .main-img-one-left {
  float: left;
  width: 1268px;
  height: 680px;
  position: relative;
  overflow: hidden;
  transform: skew(-30deg);
  margin-left: -195px;
}
main .main-img-one-left img {
  float: left;
  height: 660px;
  transform: skew(30deg);
  margin-left: -270px;
}
main .main-img-one-right {
  float: left;
  margin-left: 320px;
  margin-top: 130px;
}
main .main-img-one-right h1 {
  color: #202020;
  font-size: 28px;
  font-weight: bold;
}
main .main-img-one-right p {
  width: 434px;
  line-height: 2;
  color: #4d4b4d;
}
main .main-img-two-right {
  float: right;
  width: 1268px;
  height: 680px;
  position: relative;
  overflow: hidden;
  transform: skew(-30deg);
  margin-right: -755px;
  margin-top: 250px;
}
main .main-img-two-right img {
  float: left;
  height: 660px;
  transform: skew(30deg);
  margin-left: -270px;
}
main .main-img-two-left {
  float: left;
  margin-left: 220px;
  margin-top: 130px;
}
main .main-img-two-left h1 {
  color: #202020;
  font-size: 28px;
  font-weight: bold;
}
main .main-img-two-left p {
  width: 724px;
  line-height: 2;
  color: #4d4b4d;
}
main .main-img-two-left .circulcar-3d {
  float: left;
  height: 65px;
  fill: transparent;
  stroke: #111;
  margin-right: 20px;
  cursor: pointer;
}
main .main-img-two-left .circulcar-3d text {
  font-size: 10px;
}
main .main-img-two-left .circulcar-3d .foreground {
  transition: stroke 0.3s ease-out;
  stroke: #181818;
  fill: none;
}
main .main-img-two-left h6 {
  float: left;
  font-weight: normal;
  width: 70px;
  line-height: 2;
  font-size: 14px;
  margin-top: 10px;
}
main .main-img-two-left .circulcar-3d:hover {
  fill: #111;
}
main .main-img-two-left .circulcar-3d:hover .foreground {
  stroke: #fff;
}
main .main-img-two-left .circulcar-3d:hover text {
  fill: #fff;
}
main .main-img-three-right {
  float: right;
  width: 873px;
  height: 600px;
  position: relative;
  overflow: hidden;
  transform: skew(-30deg);
  margin-right: -502px;
  margin-top: 188px;
}
main .main-img-three-right img {
  height: 680px;
  transform: skew(30deg);
  margin-left: -310px;
  margin-top: -157px;
}
main .main-img-three-left {
  float: left;
  width: 870px;
  height: 600px;
  position: relative;
  overflow: hidden;
  transform: skew(-30deg);
  margin-left: 84px;
  margin-top: 240px;
}
main .main-img-three-left img {
  height: 680px;
  transform: skew(30deg);
  margin-left: -350px;
}
main .main-img-four-left {
  float: left;
  width: 900px;
  height: 450px;
  position: relative;
  overflow: hidden;
  transform: skew(-30deg);
  margin-left: -1218px;
  margin-top: 866px;
}
main .main-img-four-left img {
  height: 550px;
  transform: skew(30deg);
  margin-left: -400px;
  margin-top: -67px;
}
main .main-img-four-right {
  float: right;
  margin-right: 220px;
  margin-top: 130px;
}
main .main-img-four-right h1 {
  color: #202020;
  font-size: 28px;
  font-weight: bold;
}
main .main-img-four-right p {
  width: 590px;
  line-height: 2;
  color: #4d4b4d;
}
main .main-img-four-right .circulcar-3d {
  float: left;
  height: 65px;
  fill: transparent;
  stroke: #111;
  margin-right: 20px;
  cursor: pointer;
}
main .main-img-four-right .circulcar-3d text {
  font-size: 10px;
}
main .main-img-four-right .circulcar-3d .foreground {
  transition: stroke 0.3s ease-out;
  stroke: #181818;
  fill: none;
}
main .main-img-four-right h6 {
  float: left;
  font-weight: normal;
  width: 70px;
  line-height: 2;
  font-size: 14px;
  margin-top: 10px;
}
main .main-img-four-right .circulcar-3d:hover {
  fill: #111;
}
main .main-img-four-right .circulcar-3d:hover .foreground {
  stroke: #fff;
}
main .main-img-four-right .circulcar-3d:hover text {
  fill: #fff;
}
.configure {
  overflow: hidden;
  margin-left: 160px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.configure .configure-left {
  float: left;
  width: 600px;
}
.configure .configure-left h2 {
  color: #202020;
  font-size: 36px;
}
.configure .configure-left .configure-menu li {
  float: left;
  margin-right: 90px;
  color: #202020;
  opacity: 0.4;
  cursor: pointer;
}
.configure .configure-left .configure-menu li:first-child {
  opacity: 1;
}
.configure .configure-left .configure-color {
  width: 567px;
  height: 300px;
}
.configure .configure-left .configure-color li {
  float: left;
  margin-top: 30px;
  margin-right: 40px;
  cursor: pointer;
}
.configure .configure-left a {
  float: left;
}
.configure .configure-left a .exagon {
  float: left;
  height: 50px;
  fill: transparent;
  stroke: #111;
  margin-top: 155px;
}
.configure .configure-left a span {
  float: left;
  color: #202020;
  font-size: 24px;
  margin-left: 20px;
  margin-top: 165px;
}
.configure .configure-left a:hover .exagon {
  fill: #111;
}
.configure .configure-left a:hover .foreground {
  stroke: #fff;
}
.configure .configure-right {
  margin-left: 550px;
  height: 670px;
}
.configure .configure-right ul {
  position: relative;
}
.configure .configure-right ul li {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background-image: url("../img/SVJ/Aventador_SVJ_cc-sceneplate_env.webp");
  background-size: 100%;
}
.configure .configure-right ul li img {
  width: 1200px;
}
.configure .configure-right ul li:first-child {
  display: block;
}
.specifications {
  overflow: hidden;
}
.specifications .specifications-one-left {
  float: left;
  margin-left: 160px;
  margin-top: 130px;
}
.specifications .specifications-one-left h1 {
  color: #202020;
  font-size: 28px;
  font-weight: bold;
}
.specifications .specifications-one-left p {
  width: 638px;
  line-height: 2;
  color: #4d4b4d;
}
.specifications .specifications-one-right {
  float: left;
  margin-left: 320px;
  margin-top: 130px;
}
.specifications .specifications-one-right h1 {
  color: #202020;
  font-size: 28px;
  font-weight: bold;
}
.specifications .specifications-one-right p {
  width: 744px;
  line-height: 2;
  color: #4d4b4d;
}
.specifications .specifications-two-left {
  float: left;
  width: 950px;
  height: 600px;
  position: relative;
  overflow: hidden;
  transform: skew(-40deg);
  margin-left: -100px;
  margin-top: 120px;
  background-color: #f8f8f7;
}
.specifications .specifications-two-left img {
  height: 400px;
  transform: skew(40deg);
  margin-left: 310px;
  margin-top: 100px;
}
.specifications .specifications-two-left .pause {
  position: absolute;
  height: 70px;
  fill: transparent;
  stroke: #111;
  left: 478px;
  top: 262px;
  transform: skew(40deg);
  display: none;
}
.specifications .specifications-two-left .pause:hover {
  fill: #111;
}
.specifications .specifications-two-left .pause:hover .foreground {
  stroke: #fff;
}
.specifications .specifications-two-left .play {
  position: absolute;
  height: 70px;
  fill: transparent;
  stroke: #111;
  left: 478px;
  top: 262px;
  transform: skew(40deg);
}
.specifications .specifications-two-left .play:hover {
  fill: #111;
}
.specifications .specifications-two-left .play:hover .foreground {
  stroke: #fff;
}
.specifications .specifications-two-right {
  float: right;
  width: 1050px;
  height: 600px;
  position: relative;
  overflow: hidden;
  transform: skew(-40deg);
  margin-right: -77px;
  margin-top: 50px;
}
.specifications .specifications-two-right img {
  height: 630px;
  transform: skew(40deg);
  margin-left: -267px;
  margin-top: -20px;
}
.slider {
  height: 750px;
  width: 100%;
  margin-top: 100px;
  overflow: hidden;
  position: relative;
}
.slider li {
  position: absolute;
  display: none;
}
.slider li img {
  margin-top: -200px;
}
.slider li:first-child {
  display: block;
}
.slider .left,
.slider .right {
  height: 60px;
  position: absolute;
  margin-top: 300px;
  cursor: pointer;
  fill: transparent;
  stroke: #fff;
}
.slider .left:hover,
.slider .right:hover {
  fill: #fff;
}
.slider .left:hover .foreground,
.slider .right:hover .foreground {
  stroke: #111;
}
.slider .left {
  left: 0;
  margin-left: 100px;
}
.slider .right {
  right: 0;
  margin-right: 100px;
}
.other {
  height: 310px;
  width: 100%;
  background-color: #181818;
  padding-top: 60px;
}
.other img {
  float: left;
  margin-left: 180px;
  margin-right: 35px;
  margin-bottom: 100px;
}
.other .other-left {
  float: left;
  position: relative;
}
.other .other-left li {
  float: left;
  margin: 0 15px;
}
.other .other-left li a {
  color: #fff;
}
.other .car-bottom {
  position: absolute;
  background-color: white;
  height: 1px;
  width: 0;
  left: 0;
  top: 25px;
}
.other .other-right {
  float: right;
  margin-right: 175px;
}
.other .other-right li {
  float: left;
  margin: 0 15px;
}
.other .other-right li a {
  color: #fff;
  font-size: 22px;
}
.other p {
  font-size: 16px;
  color: #fff;
  margin-top: 45px;
  line-height: 30px;
}
.last {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 28px;
  color: #fff;
  font-size: 12px;
  background-color: #020202;
  line-height: 28px ;
  text-align: center;
}
