// 1.顶部导航栏
nav{
    position: fixed;
    top:0;
    height: 94px;
    width: 100%;
    background-color: #181818;
    background-image: url("../img/logo.webp");
    background-repeat: no-repeat;
    background-position: 75px 18px;
    padding-left: 167px;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 10;
}
.nav-left{
    float: left;
  
    .car ,
    .service ,
    .match{
        position: relative;
        color: white;
        float: left;
        font-size: 18px;
        margin-top: 35px;
        margin-left: 33px;
        cursor:pointer;
        height: 18px; 
        z-index: 2;
    }
    .car-bottom{
        position: absolute;
        background-color: white;
        height: 1px;
        width: 0;
        left:0;
        top:25px;
    }
    // 1.1.1车型一级下拉列表
    .car-menu{
        display: none;
        float: left;
        margin-left: 30px;
       li{
        color: #ffffff;
        margin: 38px 0;
        font-size: 12px;
        opacity: 0.5;
        cursor:pointer;
       }
      
    }
    // <!-- 1.1.2车主服务一级下拉列表 -->
    .service-menu{
        display: none;
        float: left;
        margin-left: 100px;
       li{
       
        color: #ffffff;
        margin: 38px 0;
        font-size: 12px;
        opacity: 0.5;
        cursor:pointer;
    }
    li:hover{
        opacity: 1;
    }
   
   
 }
    // <!-- 1.1.1.1车型二级下拉列表1 -->
    .car-menu-first{
        position: absolute;
        display: none;
        left:370px;
        top: 57px;
        z-index: 1;
        li{
            color: #ffffff;
            margin: 36px 0;
            font-size: 12px;
            cursor:pointer;
           }
    }
    // <!-- 1.1.1.2车型二级下拉列表2 -->
    .car-menu-second{
        position: absolute;
        display: none;
        left:370px;
        top: 57px;
        z-index: 1;
        li{
            color: #ffffff;
            margin: 36px 0;
            font-size: 12px;
            cursor:pointer;
           }
    }
      // <!-- 1.1.1.2车型二级下拉列表3 -->
    .car-menu-third{
        position: absolute;
        display: none;
        left:370px;
        top: 57px;
        z-index: 1;
        li{
            color: #ffffff;
            margin: 36px 0;
            font-size: 12px;
            cursor:pointer;
           }
    }
          // <!-- 1.1.1.2车型二级下拉列表4 -->
    .car-menu-fourth{
        position: absolute;
        display: none;
        left:370px;
        top: 57px;
        z-index: 1;
        li{
            color: #ffffff;
            margin: 36px 0;
            font-size: 12px;
            cursor:pointer;
           }
    }

 }
    // <!-- 1.1.2车型三级下拉列表 -->

.nav-third{
        display: none;
        position: absolute;
        width: 1365px;
        height: 778px;
        left:267px;
        // top:94px;
        .nav-third-car{
            img{
           width: 1350px;
            }
      
            .nav-third-one-top{
                position: absolute;
                right:0;
                top:180px;
                width: 543px;
                height: 152px;
                border: 1px solid#585858;
                box-sizing: border-box;
              
                span{
                    color: #fff;
                    margin-left: 15px;
                    font-size: 14px;
                }
                p{
                    float: left;
                    font-size: 34px;
                    color: #ffffff;
                    margin: 0 15px;

                }
                .hexagon{
                height: 50px;
                .exagon{
                    float: left;
                    height: 50px;
                    fill: transparent;
                    stroke: #fff;
                    margin-top: 50px;
                    margin-left: 88px;
                }
               
            }
         
        }
        .nav-third-one-top:hover .exagon{
            fill:#fff;

        }
        .nav-third-one-top:hover .foreground {
            stroke: #111;
        }
            .nav-third-one-center{
                position: absolute;
                right:0;
                top:332px;
                width: 543px;
                height: 282px;
                border: 1px solid#585858;
                border-top:0 ;
                box-sizing: border-box;
        }
            .nav-third-one-bottom-right{
                position: absolute;
                right:0;
                top:614px;
                width: 242px;
                height: 152px;
                border: 1px solid#585858;
                border-top:0 ;
                box-sizing: border-box;
                span{
                    display: inline-block;
                    color: #fff;
                    margin-left: 80px;
                    font-size: 14px;
                    margin-top: 50px;
                }
                p{
                    float: left;
                    font-size: 34px;
                    color: #ffffff;
                    margin: 0;
                    margin-left:80px;
                }
        }
            .nav-third-one-bottom-bottom{
                position: absolute;
                right:242px;
                top:614px;
                width: 301px;
                height: 152px;
                border: 1px solid#585858;
                border-top:0 ;
                border-right:0 ;
                box-sizing: border-box;
                span{
                    display: inline-block;
                    color: #fff;
                    margin-left: 80px;
                    font-size: 14px;
                    margin-top: 50px;
                }
                p{
                    float: left;
                    font-size: 34px;
                    color: #ffffff;
                    margin: 0;
                    margin-left:80px;
                }
        }
            .nav-third-one-bottom-left-bottom{
                position: absolute;
                right:543px;
                top:613px;
                width: 406px;
                height: 153px;
                border: 1px solid#585858;
                border-right:0 ;
                box-sizing: border-box;
                span{
                    display: inline-block;
                    color: #fff;
                    margin-left: 80px;
                    font-size: 14px;
                    margin-top: 50px;
                }
                p{
                    float: left;
                    font-size: 34px;
                    color: #ffffff;
                    margin: 0;
                    margin-left:80px;
                }
        }
            .nav-third-one-bottom-left{
                position: absolute;
                right:949px;
                top:613px;
                width: 372px;
                height: 153px;
                border: 1px solid#585858;
                border-right:0 ;
                box-sizing: border-box;
                span{
                    color: #fff;
                    margin-left: 15px;
                    font-size: 14px;
                }
                p{
                    float: left;
                    font-size: 34px;
                    color: #ffffff;
                    margin: 0 15px;

                }
                .hexagon{
                    height: 50px;
                    .exagon{
                        float: left;
                        height: 50px;
                        fill: transparent;
                        stroke: #fff;
                        margin-top: 50px;
                        margin-left: 88px;
                    }
                   
                }
        }
        .nav-third-one-bottom-left:hover .exagon{
            fill:#fff;

        }
        .nav-third-one-bottom-left:hover .foreground {
            stroke: #111;
        }
    }
}

//  <!-- 1.2右侧顶部导航栏 -->
.nav-right{
    float: right;
    padding-right: 35px;
    // <!-- 1.2.1右侧顶部导航栏跳转链接 -->
    .nav-right-left{
        float: left;
        margin-right: 35px;
        a{
            position: relative;
            color: white;
            line-height: 94px;
            margin-right: 35px;
            cursor:pointer;
            .car-bottom{
                position: absolute;
                background-color: white;
                height: 1px;
                width: 0;
                left:0;
                top:28px;
            }
        }
    } 
   
//             <!-- 1.2.2右侧顶部导航栏功能 -->
    .nav-right-right{
        float: right;
        .setUp,
        .chat,
        .search,
        .list{
            float: left;
            font-size: 30px;
            color: white;
            line-height: 94px;
            margin-right:35px;
            cursor:pointer;
            opacity: 0.7;
        }
        ul:hover{
            opacity:1;
        }
    }
  }   

// 2.主页轮播图
  .slider {
    width: 100%;
    box-sizing: border-box;
    img{
        width: 1900px;
    }
    .exagon{
        position: absolute;
        height: 72px;
        fill: transparent;
        stroke: #fff;
        left: 160px;
        bottom: 280px;
    }
    ul{
        position: relative;
        li {
            position: absolute;
            display: none; 
          } 
    }
    .container{
        position: absolute;
        left: 157px;
        bottom: 596px;
        h1{
            color: #fff;
        }
    }
    p{
            position: absolute;
            left: 157px;
            bottom: 370px;
             color: #fff;
             font-size: 108px;
             margin: 0;
             padding: 0;
             line-height: 100px;
        }
    }
      
       
.exagon:hover {
    fill:#fff;

}
.exagon:hover .foreground {
    stroke: #111;
}

  .slider ul li:first-child {
    display: block;
  }

  .arrow {
    display: none;
  }

  .arrow-left,
  .arrow-right {
    font-family: "SimSun", "宋体";
    width: 30px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
  }

  .arrow-left:hover,
  .arrow-right:hover {
    background-color: rgba(0, 0, 0, .5);
  }

  .arrow-left {
    left: 0;
  }

  .arrow-right {
    right: 0;
  }

  .slider ol {
    position: absolute;
    left: 20px;
    bottom: 20px;
  }

  .slider ol li {
    float: left;
    width: 54px;
    height: 10px;
    margin-right: 10px;
    border-bottom: 1px solid #c0c5c9;
    cursor:pointer;
  }

  .slider ol li.current {
    border-bottom: 2px solid #fff;
  }
//   <!-- 第三部分 -->
//   <!-- 3.三种车型滑入滑出 -->
.vehicle-type{
    width: 100%;
    height: 10000px;
}