

// 1.顶部导航栏
nav{
    position: fixed;
    top:0;
    height: 94px;
    width: 100%;
    background-color: #181818;
    background-image: url("../img/logo.webp");
    background-repeat: no-repeat;
    background-position: 75px 18px;
    padding-left: 167px;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 10;
}
.nav-left{
    float: left;
  
    .car ,
    .service ,
    .match{
        position: relative;
        color: white;
        float: left;
        font-size: 18px;
        margin-top: 35px;
        margin-left: 33px;
        cursor:pointer;
        height: 18px; 
        z-index: 2;
    }
    .car-bottom{
        position: absolute;
        background-color: white;
        height: 1px;
        width: 0;
        left:0;
        top:25px;
    }
    // 1.1.1车型一级下拉列表
    .car-menu{
        display: none;
        float: left;
        margin-left: 30px;
       li{
        color: #ffffff;
        margin: 38px 0;
        font-size: 12px;
        opacity: 0.5;
        cursor:pointer;
       }
      
    }
    // <!-- 1.1.2车主服务一级下拉列表 -->
    .service-menu{
        display: none;
        float: left;
        margin-left: 100px;
       li{
       
        color: #ffffff;
        margin: 38px 0;
        font-size: 12px;
        opacity: 0.5;
        cursor:pointer;
    }
    li:hover{
        opacity: 1;
    }
   
   
 }
    // <!-- 1.1.1.1车型二级下拉列表1 -->
    .car-menu-first{
        position: absolute;
        display: none;
        left:370px;
        top: 57px;
        z-index: 1;
        li{
            color: #ffffff;
            margin: 36px 0;
            font-size: 12px;
            cursor:pointer;
           }
    }
    // <!-- 1.1.1.2车型二级下拉列表2 -->
    .car-menu-second{
        position: absolute;
        display: none;
        left:370px;
        top: 57px;
        z-index: 1;
        li{
            color: #ffffff;
            margin: 36px 0;
            font-size: 12px;
            cursor:pointer;
           }
    }
      // <!-- 1.1.1.2车型二级下拉列表3 -->
    .car-menu-third{
        position: absolute;
        display: none;
        left:370px;
        top: 57px;
        z-index: 1;
        li{
            color: #ffffff;
            margin: 36px 0;
            font-size: 12px;
            cursor:pointer;
           }
    }
          // <!-- 1.1.1.2车型二级下拉列表4 -->
    .car-menu-fourth{
        position: absolute;
        display: none;
        left:370px;
        top: 57px;
        z-index: 1;
        li{
            color: #ffffff;
            margin: 36px 0;
            font-size: 12px;
            cursor:pointer;
           }
    }

 }
    // <!-- 1.1.2车型三级下拉列表 -->

.nav-third{
        display: none;
        position: absolute;
        width: 1365px;
        height: 778px;
        left:267px;
        // top:94px;
        .nav-third-car{
            img{
           width: 1350px;
            }
      
            .nav-third-one-top{
                position: absolute;
                right:0;
                top:180px;
                width: 543px;
                height: 152px;
                border: 1px solid#585858;
                box-sizing: border-box;
              
                span{
                    color: #fff;
                    margin-left: 15px;
                    font-size: 14px;
                }
                p{
                    float: left;
                    font-size: 34px;
                    color: #ffffff;
                    margin: 0 15px;

                }
                .hexagon{
                height: 50px;
                .exagon{
                    float: left;
                    height: 50px;
                    fill: transparent;
                    stroke: #fff;
                    margin-top: 50px;
                    margin-left: 88px;
                }
               
            }
         
        }
        .nav-third-one-top:hover .exagon{
            fill:#fff;

        }
        .nav-third-one-top:hover .foreground {
            stroke: #111;
        }
            .nav-third-one-center{
                position: absolute;
                right:0;
                top:332px;
                width: 543px;
                height: 282px;
                border: 1px solid#585858;
                border-top:0 ;
                box-sizing: border-box;
        }
            .nav-third-one-bottom-right{
                position: absolute;
                right:0;
                top:614px;
                width: 242px;
                height: 152px;
                border: 1px solid#585858;
                border-top:0 ;
                box-sizing: border-box;
                span{
                    display: inline-block;
                    color: #fff;
                    margin-left: 80px;
                    font-size: 14px;
                    margin-top: 50px;
                }
                p{
                    float: left;
                    font-size: 34px;
                    color: #ffffff;
                    margin: 0;
                    margin-left:80px;
                }
        }
            .nav-third-one-bottom-bottom{
                position: absolute;
                right:242px;
                top:614px;
                width: 301px;
                height: 152px;
                border: 1px solid#585858;
                border-top:0 ;
                border-right:0 ;
                box-sizing: border-box;
                span{
                    display: inline-block;
                    color: #fff;
                    margin-left: 80px;
                    font-size: 14px;
                    margin-top: 50px;
                }
                p{
                    float: left;
                    font-size: 34px;
                    color: #ffffff;
                    margin: 0;
                    margin-left:80px;
                }
        }
            .nav-third-one-bottom-left-bottom{
                position: absolute;
                right:543px;
                top:613px;
                width: 406px;
                height: 153px;
                border: 1px solid#585858;
                border-right:0 ;
                box-sizing: border-box;
                span{
                    display: inline-block;
                    color: #fff;
                    margin-left: 80px;
                    font-size: 14px;
                    margin-top: 50px;
                }
                p{
                    float: left;
                    font-size: 34px;
                    color: #ffffff;
                    margin: 0;
                    margin-left:80px;
                }
        }
            .nav-third-one-bottom-left{
                position: absolute;
                right:949px;
                top:613px;
                width: 372px;
                height: 153px;
                border: 1px solid#585858;
                border-right:0 ;
                box-sizing: border-box;
                span{
                    color: #fff;
                    margin-left: 15px;
                    font-size: 14px;
                }
                p{
                    float: left;
                    font-size: 34px;
                    color: #ffffff;
                    margin: 0 15px;

                }
                .hexagon{
                    height: 50px;
                    .exagon{
                        float: left;
                        height: 50px;
                        fill: transparent;
                        stroke: #fff;
                        margin-top: 50px;
                        margin-left: 88px;
                    }
                   
                }
        }
        .nav-third-one-bottom-left:hover .exagon{
            fill:#fff;

        }
        .nav-third-one-bottom-left:hover .foreground {
            stroke: #111;
        }
    }
}

//  <!-- 1.2右侧顶部导航栏 -->
.nav-right{
    float: right;
    padding-right: 35px;
    // <!-- 1.2.1右侧顶部导航栏跳转链接 -->
    .nav-right-left{
        float: left;
        margin-right: 35px;
        a{
            position: relative;
            color: white;
            line-height: 94px;
            margin-right: 35px;
            cursor:pointer;
            .car-bottom{
                position: absolute;
                background-color: white;
                height: 1px;
                width: 0;
                left:0;
                top:28px;
            }
        }
    } 
   
//             <!-- 1.2.2右侧顶部导航栏功能 -->
    .nav-right-right{
        float: right;
        .setUp,
        .chat,
        .search,
        .list{
            float: left;
            font-size: 30px;
            color: white;
            line-height: 94px;
            margin-right:35px;
            cursor:pointer;
            opacity: 0.7;
        }
        ul:hover{
            opacity:1;
        }
    }
  }   

// 2.主页轮播图
// 2.主页轮播图
.slider {
    width: 100%;
    height: 970px;
    margin-top: 20px;
    position: relative;
    img{
        width: 100%;
        margin-top: -100px;
    }
    ul{
       
        li {
            position: absolute;
            height: 1070px;
            box-sizing: border-box;
          
          } 
    }
      // 轮播图左边文字
    .smoll-big{
    display: inline-block;
    animation: six 1s;
    transition: all 2s;
    transform-origin: center;
      }
  .slider-word{
    position: absolute;
    bottom: 575px;
    left:150px;
    .upper{
    margin-bottom: 50px;
      div{
        float: left;
        color: #fff;
        opacity: 0;
        font-size:24px ;
        font-weight: bolder;
      }
    }
      .exagon{
        height: 72px;
        fill: transparent;
        stroke: #fff;
      }
      a{
        height: 72px;
        width: 63px;
        display:block;
        // transform: scale(0);
        opacity: 1;
        transition: all 2s;
        transform-origin: center;
      }
      .exagon:hover {
        fill:#ffffff;
      }
      .exagon:hover .foreground {
        stroke: #111;
      }
      p{
        position: relative;
        color: #fff;
        font-size: 108px;
        margin: 0;
        padding: 0;
        line-height: 100px;
        font-weight: bolder;
        margin-bottom: 40px;
        }  
    }
}


  

//   第一张
    .slider li:first-child{
        z-index: 1;
    }

    
    // 第二张
    .slider li:nth-child(2){
        .slider-word{
            bottom:440px;
        }
    }
    // //   第三张
      .slider li:nth-child(3){
        .slider-word{
        bottom: 400px;
      } 
  
    } 
// 小圆点和箭头
  .arrow {
    display: none;
  }

  .arrow-left,
  .arrow-right {
    font-family: "SimSun", "宋体";
    width: 30px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
  }

  .arrow-left:hover,
  .arrow-right:hover {
    background-color: rgba(0, 0, 0, .5);
  }

  .arrow-left {
    left: 0;
  }

  .arrow-right {
    right: 0;
  }

  .slider ol {
    position: absolute;
    left: 90px;
    bottom: 110px;
    z-index: 2;
  }

  .slider ol li {
    float: left;
    width: 54px;
    height: 10px;
    margin-right: 10px;
    border-bottom: 1px solid #c0c5c9;
    cursor:pointer;
  }

  .slider ol li.current {
    border-bottom: 2px solid #fff;
  }



//   <!-- 第三部分 -->
//   <!-- 3.三种车型滑入滑出 -->   
.vehicle-type{
    height: 840px;
    img{
        width: 1903px;
    }

}


// 第四部分  视频
.gutters{
    width: 1903px;
    height: 635px;
    position: relative;
    box-sizing: border-box;
    video{
        width: 1903px;
    }
    img{
        width: 1903px;
    }

    .gutters-first{
        position: relative;
      
        li {
            position: absolute;
            // display: none;
            .exagon{
                position: absolute;
                height: 58px;
                fill:transparent;
                stroke: #111;
                left: 157px;
                bottom: 280px;
            }
            .exagon:hover {
                fill:#111;
            }
            .exagon:hover .foreground {
                stroke: #fff;
            }
            p{
                position: absolute;
                left: 160px;
                bottom: 375px;
                 color: #111111;
                 font-size: 72px;
                 margin: 0;
                 padding: 0;
                 line-height: 100px;
                 font-weight: bolder;
                 line-height: 72px;
            }
          } 

    }
    // .smoll-big{
    //     display: inline-block;
    //     animation: six 1s;
    //     transition: all 2s;
    //     transform-origin: center;
    //   }
    //   @keyframes six {
    //     0% {
    //       transform: scale(0);
    //       opacity: 0;
    //     }
  
    //     100% {
    //       transform: scale(1);
    //       opacity: 1;
    //     }
        .gutters-one{
            position: absolute;
            left: 160px;
            bottom: 530px;
            div {
                display: inline-block;
           
                font-size: 24px;
                color: #111111;
                font-weight: bolder;
              }
    
        }
        .gutters-second{
            position: absolute;
            bottom: 150px;
            left: 127px;
            li{
                float: left;
                font-size: 16px;
                color: #111;
                opacity: 0.2;
                margin: 0 33px;
                cursor:pointer;
            }
            .gutters-second-one{
                opacity: 1;
            }

        }

        .gutters-third{
            position: absolute;
            bottom: 110px;
            left: 127px;
            .gutters-third-one{
               position:  absolute;
               left: 0;
               bottom: 0;
                height: 2px;
                width: 139px;
                background-color: #111;
             
            }
            .gutters-third-two{
                position:  absolute;
                left: 139px;
                bottom: 0;
                height: 2px;
                // width: 100px;
                width: 0;
                background-color: #111;
             
            }
            .gutters-third-three{
                position:  absolute;
                left: 239px;
                bottom: 0;
                height: 2px;
                // width: 125px;
                width: 0;
                background-color: #111;
             
            }
        }
        .gutters-fourse{
            position: absolute;
            bottom: 110px;
            left: 127px;
            width: 364px;
            height:1px;
            background-color: #b2b2b2;
        }

} 


    // <!-- 第五部分 展厅 -->
    .exhibition{
        position: relative;
        height: 630px;
        background-image: url("../img/533702.jpg");
        background-repeat: no-repeat;
        background-position: 0 -260px;
        span{
            display: inline-block;
            font-size: 28px;
            color: #fff;
            margin-top: 210px;
            margin-left: 160px;
        }
        p{
            font-size: 72px;
            color: #fff;
       
            margin: 0;
            margin-left: 160px;
        }
        .exagon{
            position: absolute;
            height: 56px;
            fill: transparent;
            stroke: #fff;
            left: 160px;
            bottom: 200px;
        }
        .exagon:hover {
            fill:#ffffff;
        }
        .exagon:hover .foreground {
            stroke: #111;
        }

    }

    // <!-- 第六部分 文章 -->
    .article{
        .article-one{
    h4{
        color: 111;
        font-size: 24px;
        line-height: 0px;
    }
    h1{
        color: #111;
        font-size: 82px;
        line-height: 30px;
    }
    img{
        width: 100%;
        height: 630px;
    }
    h5{
        color: #111;
        font-size: 16px;
        line-height: 30px;
    }
    a{
        font-size: 28px;
        color: #111;
        font-weight: bold;
    }
    span{
        font-size: 16px;
        color: #242424;
        line-height: 1.8;
        font-weight: lighter;
    }
    .article-box{
        float:right;
        border: 1px solid #d0d0d0;
        box-sizing: border-box;
        height: 52px;
        width: 215px;
        color: #111;
        text-align: center;
        line-height: 52px;
        margin-bottom: 50px;
    }
    .article-box:hover{
        background-color: #111;
        color: #fff;
        border: 1px solid #111;
    }
    }
    .article-two{
       overflow: hidden;
       margin-top: 60px;
    .article-img{
        float: left;
        height: 260px;
        width: 634px;
        background-image: url("../img/04_14_cover_m.webp");
        background-size: 100%;
        background-position: 0px -50px;
     }
     h5{
         float: left;
        color: #202020;
        font-size: 14px;
         margin: 0;
        font-weight: lighter;
        margin-left: 40px;

    }
    a{
        float: right;
        font-size:28px ;
        color: #111;
        font-weight: bold;
        margin-top: 28px;
        margin-right: 110px;
    }
    .article-box{
        float:right;
        border: 1px solid #d0d0d0;
        box-sizing: border-box;
        height: 52px;
        width: 215px;
        color: #111;
        text-align: center;
        line-height: 52px;
        margin-right: 380px;
        margin-top: 50px;
    }
    .article-box:hover{
        background-color: #111;
        color: #fff;
        border: 1px solid #111;
    }
    }

    .article-three{
        overflow: hidden;
        margin-top: 60px;
     .article-img{
         float: left;
         height: 260px;
         width: 634px;
         background-image: url("../img/Cover Supreme_unica.jpg");
         background-size: 100%;
         background-position: 0px -50px;
      }
      h5{
          float: left;
         color: #202020;
         font-size: 14px;
          margin: 0;
         font-weight: lighter;
         margin-left: 40px;
 
     }
     a{
         float: right;
         font-size:28px ;
         color: #111;
         font-weight: bold;
         margin-top: 28px;
         margin-right: 72px;
     }
     .article-box{
         float:right;
         border: 1px solid #d0d0d0;
         box-sizing: border-box;
         height: 52px;
         width: 215px;
         color: #111;
         text-align: center;
         line-height: 52px;
         margin-right: 380px;
         margin-top: 50px;
     }
     .article-box:hover{
         background-color: #111;
         color: #fff;
         border: 1px solid #111;
     }
     }
     .article-bottom{
        box-sizing: border-box;
        border: 1px solid #202020;
        background-color: #202020;
        height: 52px;
        width: 215px;
        color: #fff;
        text-align: center;
        line-height: 52px;
       margin: 50px auto;
       cursor:pointer;
       a{
        color: #fff;
       }
    }
    .article-bottom:hover{
        background-color: #fff;
        color: #202020;
    }
    .article-bottom:hover a{
        color: #202020;
    }
  }



    // <!-- 第七部分 其他 -->
    .other{
      
        height: 310px;
        width: 100%;
        background-color: #181818;
        padding-top: 60px;
        img{
            float: left;
            margin-left: 180px;
            margin-right: 35px;
            margin-bottom: 100px;
        
        }
        .other-left{
            float: left;
            position: relative;
            // margin-left: 180px;
            li{
                float: left;
                margin: 0 15px;
                a{
                color: #fff;
            }
            }
        }
        .car-bottom{
            position: absolute;
            background-color: white;
            height: 1px;
            width: 0;
            left:0;
            top:25px;
        }
        .other-right{
            float: right;
            margin-right: 175px;
            li{
                float: left;
                margin: 0 15px;

            a{
                color: #fff;
                font-size: 22px;
            }
        }
        }
        p{
            font-size: 16px;
            color: #fff;
            margin-top: 45px;
           line-height: 30px;
        }
    }
    //    <!-- 第八部分 末尾固定定位 -->
    .last{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 28px;
        color: #fff;
        font-size: 12px;
        background-color: #020202;
        line-height:28px ;
        text-align: center;
    }
